
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="<{$RootUrl}>/images/skin.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EEF2FB;
}
-->
</style>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="17" valign="top" background="<{$RootUrl}>//images/mail_leftbg.gif"><img src="<{$RootUrl}>/images/left-top-right.gif" width="17" height="29" /></td>
    <td valign="top" background="<{$RootUrl}>/images/content-bg.gif"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" class="left_topbg" id="table2">
      <tr>
        <td height="31"><div class="titlebt">首页图片</div></td>
      </tr>
    </table></td>
    <td width="16" valign="top" background="<{$RootUrl}>/images/mail_rightbg.gif"><img src="<{$RootUrl}>images/nav-right-bg.gif" width="16" height="29" /></td>
  </tr>
  <tr>
    <td valign="middle" background="<{$RootUrl}>/images/mail_leftbg.gif">&nbsp;</td>
    
   <!-- 内容区域开始-->
    
    <td valign="top" bgcolor="#F7F8F9">
          <table width="100%" height="138" border="0" cellpadding="0" cellspacing="0">
             <form name="form1" method="POST" action="admintitlechk.asp">
                  <tr>
                    <td height="13" valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                            <td>
                               <table width="1024px" border="0" cellspacing="0" cellpadding="0"  style="padding-left:15px;">
                                 
                                  
                                  <tr>
                                 
                                   <td class="left_txt2"><font color='#000066'><strong>图片</strong></font></td>
                                   <td class="left_txt2"><font color='#000066'><strong>图片信息</strong></font></td>
                                    <td class="left_txt2"><font color='#000066'><strong>操        作</strong></font></td>
                                  </tr>
                                   <volist name="Banner" id="Banner">
                                   <tr>
                                    <td  class="left_txt2"><a href='<{$Banner.content}>'><img src='<{$Banner.content}>' width='600px' high='300px'/></a></td>
                                    <td  class="left_txt2"><{$Banner.text}></td>
                                      <td class="left_txt2 editFont"> <a href="?c=AdminBanner&a=delBanner&id=<{$Banner.id}>"> 删 除</a></td>
                                     </tr>
                                  </volist>
                           
                              </table>
                           </td>
                         </tr>
                          
                          <tr>
                            <td height="30" colspan="4" align="right" class="left_txt2">
                                <table width="100%" height="31"
                                          border="0" cellpadding="0" cellspacing="0" class="nowtable">
                                </table>
                            </td>
                          </tr>
                  <tr>
                          <td height="30" colspan="3">&nbsp;</td>
                       </tr>
             </form>
          </table>
        </td>
    
    <!-- 内容区域结束-->
    
    
    
    
    
    <td background="<{$RootUrl}>/images/mail_rightbg.gif">&nbsp;</td>
  </tr>
  <tr>
    <td valign="bottom" background="<{$RootUrl}>/images/mail_leftbg.gif"><img src="<{$RootUrl}>images/buttom_left2.gif" width="17" height="17" /></td>
    <td background="<{$RootUrl}>/images/buttom_bgs.gif"><img src="<{$RootUrl}>images/buttom_bgs.gif" width="17" height="17"></td>
    <td valign="bottom" background="<{$RootUrl}>/images/mail_rightbg.gif"><img src="<{$RootUrl}>images/buttom_right2.gif" width="16" height="17" /></td>
  </tr>
</table>
</body>
